

<script src="/index.js" charset="utf-8"></script>

<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADEpRHtEOhgdpt4OUefFTUhsxTH7wALSQ&libraries=geometry,places&callback=initMap">
</script>
</body>

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright Woof 2021 Barbara Ferreira, Sabrian Jufenlindo, Jessalyn Huang</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</html>
