<%- include('header') %>

<div class="container mt-5">
  <h1>Registration Page</h1>



  <div class="card">
    <div class="card-body">



      <!-- Makes POST request to register route -->
      <form name="registerForm" action="/register" method="POST" autocomplete="off">
        <div class="form-group">
          <p style="font-family: 'Ubuntu', sans-serif;">
            Are you a dog owner or a trainer ?
          </p>
          <div class="radioButton">
            <label><input style="margin-left:10px;" type="radio" name="userType" value="Dog Owner">Dog Owner</label>
            <label><input style="margin-left:10px;" type="radio" name="userType" value="Trainer">Trainer</label>
          </div>
          <div class="form-group">
            <label for="userNameInput">Username</label>
            <input type="text" class="form-control" id="userNameInput" placeholder="Enter username" name="username">
            <label for="NameInput">Name</label>
            <input type="text" pattern="[a-zA-Z\s]*" title="Name should only contain letters." class="form-control" id="NameInput" placeholder="Enter name" name="name">

          </div>

          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="addressInput">Address</label>
          <input type="text" class="form-control" id="addressInput" placeholder="Enter Address" name="address">
        </div>
        <div class="form-group">
          <label for="suburbInput">Suburb</label>
          <input type="text" class="form-control" id="suburbInput" placeholder="Enter Suburb" name="suburb">
        </div>
        <div class="form-group">
          <label for="dogName">Dog</label>
          <input type="text" class="form-control" id="dogName" placeholder="Name" name="dogsName">
          <input type="text" class="form-control" id="dogBreed" placeholder="Breed" name="dogsBreed">
          <div class="radioButton" style="margin-top:10px; margin-bottom:10px;">
            <label>Size : </label>
            <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="small">Small</label>
            <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="medium">Medium</label>
            <label><input style="margin-left:10px;" type="radio" name="dogsSize" value="big">Big</label>
          </div>
          <input type="number" class="form-control" id="dogWeight" placeholder="Weight (in kg)" name="dogsWeight">
          <input type="number" class="form-control" id="dogAge" placeholder="Age (in years old)" name="dogsAge">
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn btn-outline-primary" href="/login" role="button">Cancel</a>
      </form>

    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="index.js" charset="utf-8"></script>


  <%- include('footer') %>
